## TOC:

*[01. Importing libraries]

*[02. Importing data]

*[03. Task]

# 01. Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
#define path

path = r'C:\Users\Jonathan\08-2023 Instacart Basket Analysis'

In [3]:
#importing datasets

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_busiest.pkl'))

# 03. Task

In [5]:
# 02. Find Aggregated mean of "order_number" column grouped by "department_id"

ords_prods_merge.groupby('department_id').agg({'order_number':'mean'})

               order_number
department_id
1                 15.457838
2                 17.277920
3                 17.170395
4                 17.811403
5                 15.215751
6                 16.439806
7                 17.225802
8                 15.340650
9                 15.895474
10                20.197148
11                16.170638
12                15.887671
13                16.583536
14                16.773669
15                16.165037
16                17.665606
17                15.694469
18                19.310397
19                17.177343
20                16.473447
21                22.902379

#03. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments
in a markdown cell below the executed code.

All departments are now included and are accurate for all the data provided;

In [6]:
#Creating 'max order' column

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
#checking results of previous code

ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regular busy,Regular busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Regular busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regular busy,Regular busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Regular busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,22

In [8]:
#creating 'loyal customer' flag

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
#creating 'Regular customer' flag

ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
#creating 'New customer' flag

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
#checking value counts of new 'loyalty_flag' column

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [15]:
# 05. Determine whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers

ords_prods_merge.groupby('loyalty_flag').agg({'prices': 'mean'})

                     prices
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

In [18]:
# 06. Create a spending flag for each user based on the average price across all their orders using the criteria

ords_prods_merge['avg_prod_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [19]:
#check result of previous code

ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,avg_prod_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Least busy days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Least busy days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Regular busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regular busy,Regular busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Regular busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regular busy,Busiest days,Most orders,22,Regular customer,3.980556

In [20]:
#creating 'Low spender' flag

ords_prods_merge.loc[ords_prods_merge['avg_prod_price'] < 10, 'spender_type'] = 'Low spender'

In [21]:
#creating 'High spender' flag

ords_prods_merge.loc[ords_prods_merge['avg_prod_price'] >= 10, 'spender_type'] = 'High spender'

In [23]:
#checking value counts of new flag

ords_prods_merge['spender_type'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spender_type, dtype: int64

In [24]:
#checking to see if command ran correctly

ords_prods_merge[['user_id', 'avg_prod_price', 'spender_type']].head(50)

    user_id  avg_prod_price spender_type
0         1        6.367797  Low spender
1         1        6.367797  Low spender
2         1        6.367797  Low spender
3         1        6.367797  Low spender
4         1        6.367797  Low spender
5         1        6.367797  Low spender
6         1        6.367797  Low spender
7         1        6.367797  Low spender
8         1        6.367797  Low spender
9         1        6.367797  Low spender
10       15        3.980556  Low spender
11       15        3.980556  Low spender
12       15        3.980556  Low spender
13       15        3.980556  Low spender
14       15        3.980556  Low spender
15       19        8.372059  Low spender
16       19        8.372059  Low spender
17       19        8.372059  Low spender
18       21        7.012683  Low spender
19       31        8.137793  Low spender
20       31        8.137793  Low spender
21       43        7.444898  Low spender
22       43        7.444898  Low spender
23       52        6.356287  Low spender
24       52        6.356287  Low spender
25       52        6.356287  Low spender
26       52        6.356287  Low spender
27       52        6.356287  Low spender
28       52        6.356287  Low spender
29       52        6.356287  Low spender
30       52        6.356287  Low spender
31       52        6.356287  Low spender
32       52        6.356287  Low spender
33       52        6.356287  Low spender
34       52        6.356287  Low spender
35       52        6.356287  Low spender
36       52        6.356287  Low spender
37       67        7.656790  Low spender
38       67        7.656790  Low spender
39       67        7.656790  Low spender
40       67        7.656790  Low spender
41       67        7.656790  Low spender
42       67        7.656790  Low spender
43       67        7.656790  Low spender
44       67        7.656790  Low spender
45       67        7.656790  Low spender
46       67        7.656790  Low spender
47       67        7.656790  Low spender
48       67        7.656790  Low spender
49       67        7.656790  Low spender

In [25]:
# 07. Create an order frequency flag that marks the regularity of a user's ordering behavior according to the median in "days_since_prior_order" column with criteria listed.

#creating "frequency"

ords_prods_merge['frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [28]:
ords_prods_merge[['user_id', 'days_since_last_order', 'frequency']].head(15)

    user_id  days_since_last_order  frequency
0         1                    NaN       20.5
1         1                   15.0       20.5
2         1                   21.0       20.5
3         1                   29.0       20.5
4         1                   28.0       20.5
5         1                   19.0       20.5
6         1                   20.0       20.5
7         1                   14.0       20.5
8         1                    0.0       20.5
9         1                   30.0       20.5
10       15                    7.0       10.0
11       15                    8.0       10.0
12       15                    7.0       10.0
13       15                    7.0       10.0
14       15                   14.0       10.0

In [29]:
#creating 'Non-freuqent customer' flag

ords_prods_merge.loc[ords_prods_merge['frequency'] > 20, 'frequency_type'] = 'Non-frequent customer'

In [31]:
#creating 'Regular customer' flag

ords_prods_merge.loc[(ords_prods_merge['frequency'] > 10) & (ords_prods_merge['frequency'] <= 20), 'frequency_type'] = 'Regular customer'

In [32]:
#creating 'Frequent customer' flag

ords_prods_merge.loc[ords_prods_merge['frequency'] <= 10, 'frequency_type'] = 'Frequent customer'

In [37]:
#checking 'frequency_type' value count

ords_prods_merge['frequency_type'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_type, dtype: int64

In [39]:
# Examining the NaN values

print(ords_prods_merge[ords_prods_merge.frequency_type.isnull()])

          order_id  user_id  order_number  order_day_of_week  \
13645692    895835   159838             1                  0
17251990    895835   159838             1                  0
17622767    895835   159838             1                  0
24138593    895835   159838             1                  0
25880002    895835   159838             1                  0

          order_hour_of_day  days_since_last_order  product_id  \
13645692                 17                    NaN       10749
17251990                 17                    NaN       33401
17622767                 17                    NaN       23695
24138593                 17                    NaN       21334
25880002                 17                    NaN       22198

          add_to_cart_order  reordered  \
13645692                  3          0
17251990                  6          0
17622767                  2          0
24138593                  5          0
25880002                  1          0

                                               product_name  ...  \
13645692                            Organic Red Bell Pepper  ...
17251990                               Goat Cheese Crumbles  ...
17622767                           California Veggie Burger  ...
24138593                              Organic Peeled Garlic  ...
25880002  4X Ultra Concentrated Natural Laundry Detergen...  ...

            price_range_loc  busiest day  busiest days busiest_period_of_day  \
13645692  Mid-range product  Busiest day  Busiest days        Average orders
17251990  Mid-range product  Busiest day  Busiest days        Average orders
17622767  Low-range product  Busiest day  Busiest days        Average orders
24138593  Mid-range product  Busiest day  Busiest days        Average orders
25880002  Low-range product  Busiest day  Busiest days        Average orders

         max_order  loyalty_flag avg_prod_price  spender_type frequency  \
13645692         1  New customer           7.42   Low spender       NaN
17251990         1  New customer           7.42   Low spender       NaN
17622767         1  New customer           7.42   Low spender       NaN
24138593         1  New customer           7.42   Low spender       NaN
25880002         1  New customer           7.42   Low spender       NaN

          frequency_type
13645692             NaN
17251990             NaN
17622767             NaN
24138593             NaN
25880002             NaN

[5 rows x 23 columns]

The NaN values for the frequency_type column are attributed by users with only 1 order which results in no median day_since_last_order value;

In [40]:
#placing NaN value frequency_type flags into "Non-frequent customer" tag

ords_prods_merge['frequency_type'].fillna("Non-frequent customer", inplace = True)

In [41]:
#rechecking value counts

ords_prods_merge['frequency_type'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636442
Name: frequency_type, dtype: int64

In [42]:
#Exporting Data in pkl format

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_aggregated.pkl'))